.map-control {
        width: 600px;
        height: 400px;
      }
     

.full-width {
  padding-left: 0;
  padding-right: 0;
}

header {
	position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Kavivanar', sans-serif;
}

.logo {
  float: left;
  margin: 16px 36px;
  font-family: Amatic SC;
  }

.logo a {
  text-decoration: none;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

nav {
  width: 100%;
  z-index: 1;
}

nav ul {
	margin-left: 25%;
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden; 
  color: #000;
  padding: 0;
  text-align: right;   
  transition: .3s;
}

nav.black ul {
  background: #fff;
  border-bottom: solid #000
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-style: 20px;
}

nav a:hover {
  color: #114511;
}

.menu-icon {
  background: #fff;
  text-align: right;
  box-sizing: border-box; 
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
}

@media (max-width: 580px) {
  .logo {
    margin-top: 16px;
  }

  nav ul {
    max-height: 0;
    background: #fff;
  }

  nav.black ul {
    background: #fff;
  }

  .showing {
    max-height: 30em;
  }
  nav ul li {
  	float: right;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
    position: fixed;
  }
}